<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->

		<h1>Welcome to my website!</h1>
		<p>WEB322 Assignment 6</p>
		<p>Shivkumar Patel - 175539212</p>
		<p>Email :- spatel612@myseneca.ca</p>

		<!-- End your code here  -->



	</main>
</div>